<div class="container" id="services-container">

  <div class="row title-services">
    <div class="col text-center">
      <h3>Quelle est votre demande ?</h3>
    </div>
  </div>

  <div class="row" id="services-cards">
    <% @service.childrens.each_with_index do |children,i| %>

        <div class="card text-center" style="background-image: url(<%=children.picture%>);">
            <% if children.childrens != [] %>
              <%= link_to service_path(children) do %>
                <button class="services-button"><%=children.name.capitalize %></button>
              <% end%>
            <% else %>
              <%= link_to new_course_path(:service_id => children.id) do %>
                <button class="services-button"><%=children.name.capitalize %></button>
              <% end%>
            <% end%>
        </div>

    <% end%>
  </div>
</div>

