
<div class="container">
  <div class="row" id="">
    <% @service.childrens.each_with_index do |children,i| %>
      <div class="col-xs-12 col-sm-2">
        <div class="card" style="background-image: url(<%=children.picture%>);">
          <div class="card-description">
            <% if children.childrens != [] %>

              <%= link_to service_path(children) do %>
                <div class="txt"><%=children.name.capitalize %>
                </div>
              <% end%>
            <% else %>
              <%= link_to pages_home_path(:service_id => children.id) do %>
                <div class="txt"><%=children.name.capitalize %>
                </div>
              <% end%>
            <% end%>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>
