<div class="container">
  <div class="row" id="services-container">
    <% @service.childrens.each_with_index do |children,i| %>

        <div class="card text-center" style="background-image: url(<%=children.picture%>);">
            <% if children.childrens != [] %>
              <%= link_to service_path(children) do %>
                <button class="services-button"><%=children.name.capitalize %></button>
              <% end%>
            <% else %>
              <%= link_to new_course_path(:service_id => children.id) do %>
                <button class="services-button"><%=children.name.capitalize %></button>
              <% end%>
            <% end%>
        </div>

    <% end%>
  </div>
</div>

