<div id="main" class="container-fluid">
  <div class="container">
    <%= form_tag course_payments_path(@course) do %>
      <h2>Paiement de l'intervention </h2>
      <article>
        <ul>
          <li>
            type de service :
            <% @course.service.parents.each do |parent|%>
            <%= parent.name%>
            <% end%>,
            <%= @course.service.parent.name%>,<%=@course.service.name%>
          </li>
          <li>
            Prix: <%= humanized_money_with_symbol(@course.price) %>
          </li>
          <li>
            reference : <%#= @course.sku %>
          </li>
        </ul>
      </article>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="Your Order"
      data-description="Reference n°<%= @course.sku %>"
      data-amount="<%= @course.price_cents %>"
      data-email = "<%= current_user.email %>"
      data-locale="auto"
      data-currency="EUR">
      </script>
    <% end %>
    <%= link_to "Annuler cette course", course_path(@course), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning"%>
  </div>
</div>
