
<% if current_user && current_user.profile_type == "locksmith" %>
    <h2 class='course-item-section'>Votre course</h2>
<div>
  prix : <%= humanized_money_with_symbol(@course.price) %>
</div>
Photo de la porte : <%=image_tag @course.photodoor, class:"card"%>
Photo de la serrure : <%=image_tag @course.photoserrure, class:"card" %>
<!-- les services choisis par le client-->
<div>
  <i class='fa fa-ambulance'>
  <% @course.service.parents.each do |parent|%>
    <%= parent.name%>
  <% end%>,
  <%= @course.service.parent.name%>,<%=@course.service.name%>
  </i>
</div>
<div>
  <i class='mdi mdi-clock-fast'><%=@course.datetext%></i>
  <i class='mdi mdi-clock-fast'><%=@course.hourtext%></i>
</div>
<div>
  <i class='mdi mdi-flag-outline'><%= @course.sites.select { |site| site.type_of == "pick_up" }.first.address %></i>
</div>

          <%unless @course.status == 'paid'%>
          <%= render "courses/reviews" %>
          <% end%>
        </div>
      </div>
    </div>
    </div>







<% else%>

<h2 class='course-item-section'>Votre course</h2>
<div>
  prix : <%= humanized_money_with_symbol(@course.price) %>
</div>
Photo de la porte : <%=image_tag @course.photodoor, class:"card"%>
Photo de la serrure : <%=image_tag @course.photoserrure, class:"card" %>
<!-- les services choisis par le client-->
<div>
  <i class='fa fa-ambulance'>
  <% @course.service.parents.each do |parent|%>
    <%= parent.name%>
  <% end%>,
  <%= @course.service.parent.name%>,<%=@course.service.name%>
  </i>
</div>
<div>
  <i class='mdi mdi-clock-fast'><%=@course.datetext%></i>
  <i class='mdi mdi-clock-fast'><%=@course.hourtext%></i>
</div>
<div>
  <i class='mdi mdi-flag-outline'><%= @course.sites.select { |site| site.type_of == "pick_up" }.first.address %></i>
</div>

<% if user_signed_in? %>
  <%= link_to "Payer", new_course_payment_path(@course)%>
<% else%>
  <%= link_to "Sign up", new_user_registration_path(:course => @course.id.to_s, :customer => "true")%>
<% end%>



<% end %>

